* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {    
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 80px;
    position: fixed;
    top: 0;
    left: 0;  
    z-index: 10;
}

header .logo {
    color: #fff;
    user-select: none;
    font-size: 1.8rem;
}

header .nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    text-align: end;
}

header .nav li {
    margin-right: 40px;
}
header .nav li a {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    padding-bottom: 6px;
}

header .nav li a::after {
    content: "";
    width: 100%;
    height: 2px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.5s;
}
header .nav li a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

header .login-popup {
    padding: 10px 40px;
    font-size: 1.1em;
    color: #fff;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    letter-spacing: 2px;
    transition: .5s;

}
header .login-popup:hover {
    background-color: #fff;
    color: #162638;

}

header .user{
    width: 80px;
    height: 60px;
    margin-left: 30px;
}

header .user img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
header .user span {
    position: absolute;
    color: #162638;
    right: 50px;
    top: 100%;
    padding: 5px;
    text-align: center;
    background: #fff;
    border-radius: 6px;
    font-size: 0.9rem;
    display: none;
    z-index: 100;
}
header .user:hover span {
    display: block;
}

.dropdown-wrapper {
    width: 300px;
    background: #fff;
    position: absolute;
    top: 100%;
    right: 90px;
    margin-top: 10px;
    z-index: 10;
    height: 0;
    border-radius: 6px;
    overflow: hidden;
    transition: height 0.5s;
}

.dropdown-wrapper.active {
    height: 350px;
}
.dropdown-wrapper .dropdown{
    width: 100%;
    height: 100%;
    padding:20px 20px;
}

.dropdown-wrapper .dropdown .user-info {
    display: flex;
    align-items: center;
    width: 100%;

}
.dropdown-wrapper .dropdown .user-info img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    margin-right: 40px;
}
.dropdown-wrapper .dropdown .user-info h3 {
    color: #162638;
    font-weight: 500;
}
hr {
    margin:20px 0;
    border: 0;
    height: 1px;
    background: #162638;
}

.dropdown-wrapper .dropdown a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.dropdown-wrapper .dropdown a img {
    background: #e5e5e5;
    width: 40px;
    padding: 8px;
    border-radius: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-right: 15px;
}
.dropdown-wrapper .dropdown a p {
    width: 100%;
    color: #162638;
    font-weight: 500;
    transition: 0.5s;
}
.dropdown-wrapper .dropdown a:hover p {
    font-weight: 700;
}
.dropdown-wrapper .dropdown a span {
    font-size: 1.2em;
    color: #162638;
    font-weight: 700;
    transition: 0.5s;
}

.dropdown-wrapper .dropdown a:hover span {
    transform: translateX(7px);
}

.formbox-wrapper {
    position: absolute;
    width: 350px;
    height: 400px;
    backdrop-filter: blur(20px);
    border: 3px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: scale(0);
    transition: height 0.5s ease, transform 0.5s ease;
}


.formbox-wrapper.active {
    height: 450px;
}

.formbox-wrapper.active-popup {
    transform: scale(1);
    
}

.formbox-wrapper .fa-close {

    position: absolute;
    right: 0;
    top: 0;
    padding: 15px;
    background: #162638;
    font-size: 1.5em;
    color: #fff;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

.formbox-wrapper .form-box {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    padding:0 30px;
}
.form-box.login {
    position: absolute;
    transform: translateX(0);
    transition: transform 0.5s ease;
}
.form-box.login.active {
    transform: translateX(-400px);
    transition: 0;
}
.form-box.register {
    position: absolute;
    transform: translateX(400px);
    transition: transform 0.5s ease;
}
.form-box.register.active {
    transform: translateX(0);
    transition: transform 0.5s ease;
}

.formbox-wrapper .form-box h1 {
    text-align: center;
    color: #162638;
    margin-top: 50px;
    margin-bottom: 30px;

}
.formbox-wrapper .input-box {
    margin-bottom: 20px;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162638;
    position: relative;
}
.formbox-wrapper .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    color: #162638;
    font-size: 1em;
    font-weight: 600;
}

.formbox-wrapper .input-box label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 1em;
    color: #162638;
    font-weight: 500;
    transition: 0.5s;
}
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

.formbox-wrapper .input-box i {
    font-size: 1.2em;
    position: relative;
    left: 245px;
    bottom: 30px;
}

.formbox-wrapper .remember {
    color: #162638;
    font-size: 0.9em;
    display: block;
}
.formbox-wrapper .remember input {
    accent-color: #162638;
    margin-right: 5px;
}
.formbox-wrapper .remember a {
    text-decoration: none;
    color: #162638;
    margin-left: 30px;
}
.formbox-wrapper .remember a:hover {
    text-decoration: underline;
}

.btn {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    background: #162638;
    color: #fff;
    font-size: 1.1em;
    border: 0;
    border-radius: 6px;
    margin-bottom: 10px;

}
.formbox-wrapper p {
    color: #162638;
    font-size: 0.9em;
}

.formbox-wrapper p a {
    text-decoration: none;
    color: #162638;
    margin-left: 30px;
}
.formbox-wrapper p a:hover {
    text-decoration: underline;
}